<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">一时打卡</div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>

<div class="navigation">
  <a class="nav-link" routerLink="home">Home</a>
</div>
<div class="navigation">
   <a class="nav-link" routerLink="about">About</a>
</div>
<div class="navigation">   
<a class="nav-link" routerLink="courses">Courses</a>
</div>


  <button nbButton (click)="addUserModal()">添加用户</button>
</div>

<div class="header-container">
  <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
  
  <!-- <nb-action class="control-item" (click)="addUserModal()">添加用户</nb-action> -->
 
</div>
